@import "config";
@import "utilities";
@import "buttons";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $slight-color;
  line-height: 1.6;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 20px 30px;
  margin: 0 auto;
  overflow: auto;
}

.showcase {
  background-color: $primary-color;
  color: set-text-color($primary-color); // base text color
  height: 600px;

  nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    color: set-text-color($primary-color); // dynamic color for nav text

    ul {
      display: flex;
    }

    li {
      margin-right: 20px;
      padding: 0 10px;
    }

    a {
      color: set-text-color($primary-color);
      text-decoration: none;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    h1 {
      font-size: 50px;
      color: set-text-color($primary-color);
      font-weight: 300;
    }

    p {
      font-size: 20px;
      color: set-text-color($primary-color);
      font-weight: 300;
    }
  }
}
