@mixin design() {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include design();
  background-color: rgb(6, 111, 157);
  display: flex;
  height: 100vh;

  button {
    background-color: $primaryBtn;
    &:hover {
      background-color: rgb(211, 15, 15);
    }
  }
}
